@import '../core/variables';

.collapsable {
  // border-bottom: 1px solid $colorFooter;

  &__header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px;
    align-items: center;
    border-top: 1px solid $colorFooter;
    &:hover {
        color: $orange;
      }
    
    &--icon {
      color: $orange;
      font-size: 18px;
      margin-right: 10px;
    }

    &--title {
      flex-grow: 1;
      font-family: $fontOpen;
      font-size: 18px;
      text-transform: uppercase;
      color: $metal;
      &:hover {
        color: $orange;
      }
    }

    &--arrow {
      color: $metal;
      transition: transform 0.5s ease;
      &:hover {
        color: $orange;
      }
    }
  }

  &.close {
    .collapsable__header--arrow {
      transform: rotate(180deg);
    }

    .collapsable__content {
      display: none;
      // border-bottom: 1px solid $colorFooter;
    }
  }
}
.Diseña {
  border-top: none;
}