@import "../core/variables";

.collapsable__content {
  margin-top: 6px;
}

.collapsable__colors--title {
  font-family: $fontOpen;
  font-size: 14px;
  text-transform: uppercase;
  color: $metal;
}
