@import '../core/variables';

.share__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $colorFooter;
  margin: 30px 0 30px 0;
  padding: 30px;
  font-family: $fontOpen;
}
.share__button {
  background-color: $orange;
  width: 199px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  font-size: 18px;
  font-weight: 600;
  color: $colorWhite;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: 0 none;
  justify-content: center;
  padding-right: 7px;
  
  &--icon {
    padding: 0 9px 0 8px;
    font-size: 22px;
    color: $colorWhite;
  }
}

