@import '../core/variables';

.preview__reset {
  border-radius: 75px;
  border-color: $backgroundLanding;
  width: 75px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  margin: 45px 11px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: -80px;
  &--reset {
    font-family: $fontOpen;
    font-size: 12px;
    color: $metal;
    border-style: none;
    background: none;
    &:hover {
      color: $colorWhite;
    }
  }
}

.button__reset {
  text-transform: uppercase;
  outline: none;
}
.fa-trash-alt {
  margin-right: 5px;
}
